/**
@author Jake Rego
@description Styling sheet for the Cardinal Solutions Ping Pong Ranking
*/


#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: #000000;
     opacity: .4;
}

#overlay div {
    width:300px;
    margin: 100px auto;
    color: #000;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
    padding-right:15px;
    padding-left:15px;
    padding-bottom:15px;
    padding-top: 0px;
    text-align:center;       
 }
  
#overlay h1{
  text-align: end;
  font-size: 24px;
}

#overlay h1 a{
   text-decoration: none;
}
  
  
table{
  width:100%;
}
  
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 7:18:05 PM
    Author     : Jake
*/

#container{
    background-color: #d6d6d6;
    width: 100%;
    height: 1024px;
    text-align: center;
    margin-top: -20px;
}

.construction h1{
    font-size: 36px;
    padding-top: 20px;
}

.construction p{
    font-size: 16px;
}

#cone-holder li{
    list-style-type: none;
    height: 800px;
    width: 400px;
    left-margin: 25%;
    align: center;
    padding-left:30.5%;
}
